<!doctype html>
<html lang="en" ng-app="ngApp">

<head>
    <meta charset="utf-8">

    <title>Angular for java developers</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/serif.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">
</head>

<body>

<div class="reveal">

<div class="slides">

<section>
    <h2>Angularjs for java developers</h2>

    <p>Mateusz Sobczak</p>

    <p>Paweł Cierpiatka</p>
</section>


<section>

    <section>
    	<h1>JavaScript</h1>
    </section>

    <section>
    
    <h3>JavaScript jest wszędzie</h3>
    <ul>
        <li>jest w przeglądarce</li>
        <li>jest na serwerze</li>
        <li>działa jako język skryptowy</li>
        <li>nawet w JVM-ie można go wcisnąć</li>
        <li>jest bardziej funkcyjny niż java 8</li>
    </ul>
    </section>
    <section>
        <h2>na serwerze</h2>
        <ul>
            <li>Rhino - od mozilli</li>
            <li>Nashorn - od oracle</li>
            <li>node.js - v8 z chrome</li>

            <pre>
            <code ng-non-bindable>
            
    var http = require('http');

    var server = http.createServer(
      function (request, res) {
        res.writeHead(200, {"Content-Type": "text/plain"});
        res.end("Hello World\n");
    });

    server.listen(8000);
            </code>
            </pre>
        </ul>
    </section>
    <section>
        <h2>Funkcje, funkcje, funkcje</h2>
        <pre>
            <code>
function filter(items, f) {
    var j = 0;
    var result = [];
    for(var i in items){
        if (f(items[i]) == true){
            result[j++] = items[i];
        };
    }
    return result;  
}   
            </code>
        </pre>
    </section>
    <section>        
        <pre>
            <code>
    var timelog = [{
        "project" : 'idea',
        "time"  : 128
    }, {
        "project" : "efigence",
        "time"  : 283
    }, {
        "project" : "idea",
        "time"  : 338
    }];

    var efi = filter(timelog, function(item){
        return item.project === "efigence";
    });    
            </code>
        </pre>
    </section>
    <section>
        <p>Oczywiście podstawowe funkcje mamy już wbudowane</p>
            <button onclick="alert('Total time: ' + total + ' \n\n      ' + byPrj )">
                        test
            </button>

        <pre>
        <code>
var total = timelog.reduce(function(start, log){
    return start + log.time;
}, 0);


var byProject = timelog.reduce(function(sum, item){
    if (sum[item.project] == undefined) {
        sum[item.project] = 0;
    }
    sum[item.project]+=item.time;
    return sum;
}, {});

        </code>
        </pre>
<script type="text/javascript">
    
    var timelog = [{
        "project" : 'idea',
        "time"  : 128
    }, {
        "project" : "efigence",
        "time"  : 283
    }, {
        "project" : "idea",
        "time"  : 338
    }];

var total = timelog.reduce(function(start, log){
    return start + log.time;
}, 0);

var byProject = timelog.reduce(function(sum, item){
    if (sum[item.project] == undefined) {
        sum[item.project] = 0;
    }
    sum[item.project]+=item.time;
    return sum;
}, {});

var byPrj = 'W podziale na projekty\n';
for(var k in byProject){
    byPrj += k + ' = ' + byProject[k] + '\n';
}

</script>        
    </section>

    <section>
        <h2>i jeszcze na serwerze - npm</h2>
        <ul>    
            <li>taki trochę ant</li>
            <li>trochę w połączeniu z ivy</li>
            <li>w dodatku można nim zainstalować <a href="https://github.com/bower/bower">bowera</a>, który robi to samo, tylko trochę inaczej :) </li>
        </ul>
        <pre>
        <code>
{
  "version": "0.0.0",
  "private": true,
  "name": "timmee",
  "devDependencies": {
    "hapi": "^5.0.0"
   },
  "scripts": {
    "prestart": "npm install",
    "start": "node server.js"
  }   
}        
        </code>
        </pre>
    </section>

</section>


<section>
    <section>
    	<h1>AngularJS</h1>
    </section>
    <section>
        <h2>AngularJS</h2>
        <ul>
            <li>Produkt Google (Open source)</li>
            <li>Framework ???</li>
            <li>Silny podział na warstwy (MVW)</li>
            <li>Duży nacisk na testowalność</li>
        </ul>
        <p/>
        <blockquote>
            I hereby declare AngularJS to be MVW framework - Model-View-Whatever.
            Where Whatever stands for "whatever works for you".
        </blockquote>
        <p><i>Igor Minar</i></p>
    </section>

    <section>
        <h4>Długa i pokrętna ścieżka do oświecenia</h4>
        <img src="images/learning.png" alt=""/>
    </section>


</section>



<section>

	<section>
		<h1>Podstawy</h1>
	</section>
	
    <section>
        <h3>expression</h3>

        <p>3 + 3 = {{3 + 3}}</p>

        <p>JavaScript = {{'Java' + 'Script' }}</p>

        <p>true === false is {{true === false}}</p>

        <p>wybaczają  -{{a.b.c}}-</p>

        <pre>
            <code ng-non-bindable>
                3 + 3 = {{3 + 3}}
                JavaScript = {{'Java' + 'Script' }}
                true === false is {{true === false}}
                wybaczają  -{{a.b.c}}-
            </code>
        </pre>
    </section>

    <section>
        <h3>expression po co ?</h3>

        <p>łączy widok z modelem</p>

        <input ng-model="class.style"/>
        <div style="background-color:{{class.style}}">
            <button>Guziczek</button>
        </div>
        <pre>
            <code ng-non-bindable>
                <input ng-model="class.style"/>
                <div style="background-color:{{class.style}}">
                    <button>Guziczek</button>
                </div>
            </code>
        </pre>
    </section>

    <section>
        <h3>$scope</h3>
        <ul>
            <li>odnosi się do modelu aplikacji</li>
            <li>hierarchia jest podobna do hierarchi DOM</li>
            <li>udostępnia API $watch, $apply</li>
            <li>$watch pozwala obserwować zmiany modelu</li>
            <li>$apply pozwala informować o zmianach modelu</li>
        </ul>
    </section>

    <section>
        <h2>Troche teorii</h2>
        <small>
            <h3>Bez Angularjs</h3>
            <ul>
                <li>event loop przeglądarki czeka na zdarzenie</li>
                <li>pojawia się zdarzenie (wpisujemy tekst)</li>
                <li>event callback jest wywoływany i JS modyfikuję DOM</li>
                <li>gdy callback jest wykonany przeglądarka wyświetla widok na podstawie DOM</li>
            </ul>
        </small>
        <img src="images/concepts-runtime.png" alt=""/>
    </section>
    <section>
        <h2>Troche teorii</h2>
        <small>
            <h3>Angularjs</h3>
            <ul>
                <li>własny flow reagowania na zmiany, który dzieli się na zdarzenia w kontekście Angular i poza</li>
                <li>pojawia się zdarzenie (wpisujemy tekst)</li>
                <li>odpalany jest $digest loop, który składa się z dwóch mniejszych pętli</li>
                <li>$evalAsync (co wykonać) i $watch (co zmienić) </li>
                <li>gdy pętla $digest jest zakończona przeglądarka wyświetla widok na podstawie zmienionego DOM</li>
            </ul>
        </small>
        <img src="images/concepts-runtime.png" alt=""/>
    </section>

</section>

<section>
	
	<section>
		<h1>Data binding</h1>
	</section>
	
    <section>
        <div ng-controller="ScopeController">
            <h3>$scope data-binding</h3>
            <h4>two way data binding</h4>
            <div><small>{{element}}</small></div>
            <input type="text" ng-model="element"/>
            <button ng-click="add()">Dodaj</button>
            <div>
                <ul ng-repeat="element in elements">
                    <small>
                        <li>{{element}}</li>
                    </small>
                </ul>
            </div>
        </div>
        <pre>
            <code ng-non-bindable>
                <div ng-controller="ScopeController">
                    <h4>Dodaj element</h4>
                    <input type="text" ng-model="element"/>
                    <button ng-click="add()">Dodaj</button>
                    <div>
                        <ul ng-repeat="element in elements">
                            <small>
                                <li>{{element}}</li>
                            </small>
                        </ul>
                    </div>
                </div>
            </code>
        </pre>
    </section>
	
    <section>
        <h3>Two way data binding</h3>
        <h4>znowu teoria</h4>
        <table style="width: 100%">
            <tr>
                <td style="width: 50%">
                    <h4>Tradycyjne podejście (?)</h4>
                    <img src="images/One_Way_Data_Binding.png" alt=""/>
                </td>
                <td style="width: 50%">
                    <h4>AngularJS</h4>
                    <img src="images/Two_Way_Data_Binding.png" alt=""/>
                </td>
            </tr>
        </table>
    </section>

    <section>
        <div ng-controller="ScopeController">
            <h3>$scope data-binding</h3>
            <h4>two way data binding</h4>
            <div><small>{{element}}</small></div>
            <input type="text" ng-model="element"/>
            <button ng-click="add()">Dodaj</button>
            <div>
                <ul ng-repeat="element in elements">
                    <small>
                        <li>{{element}}</li>
                    </small>
                </ul>
            </div>
        </div>
        <pre>
            <code ng-non-bindable>
        angular.module('ngApp', [])
            .controller('ScopeController',['$scope',function($scope){
                $scope.elements = ['pierwszy','drugi','trzeci'];
                $scope.add = function(){
                $scope.elements.push($scope.element);
                $scope.element = "";
            };
        }]);
            </code>
        </pre>
    </section>

    <section>
        <h4>two way data binding pułapka</h4>
        <small>

            <input type="text" ng-model="message">
            <h6>Root {{message}}</h6>
            </input>
            <div ng-controller="ScopeFirstController">
                <input type="text" ng-model="message">
                <h6>Pierwszy {{message}}</h6>
                </input>
            </div>
            <div ng-controller="ScopeThreeController">
                <input type="text" ng-model="message">
                <h6>Drugi {{message}}</h6>
                </input>
            </div>
        </small>

        <pre>
            <code ng-non-bindable>
                <input type="text" ng-model="message">
                <h6>Root {{message}}</h6>
                </input>
                <div ng-controller="ScopeFirstController">
                    <input type="text" ng-model="message">
                    <h6>Pierwszy {{message}}</h6>
                    </input>
                </div>
                <div ng-controller="ScopeThreeController">
                    <input type="text" ng-model="message">
                    <h6>Drugi {{message}}</h6>
                    </input>
                </div>
            </code>
        </pre>

    </section>

    <section>
        <h4>two way data binding pułapka</h4>
        <small>

            <input type="text" ng-model="message">
            <h6>Root {{message}}</h6>
            </input>
            <div ng-controller="ScopeFirstController">
                <input type="text" ng-model="message">
                <h6>Pierwszy {{message}}</h6>
                </input>
            </div>
            <div ng-controller="ScopeThreeController">
                <input type="text" ng-model="message">
                <h6>Drugi {{message}}</h6>
                </input>
            </div>
        </small>

        <pre>
            <code ng-non-bindable>
            .controller('ScopeFirstController',['$scope', function($scope){
            }])
            .controller('ScopeThreeController',['$scope', function($scope){
            }]);
            </code>
        </pre>

    </section>

    <section>
        <h4>two way data binding poprawny model</h4>
            <small>
                <h6>two way data binding pułapka</h6>
                <input type="text" ng-model="data.message">
                     <h6>Root {{data.message}}</h6>
                </input>
                <div ng-controller="ScopeFirstController">
                    <input type="text" ng-model="data.message">
                    <h6>Pierwszy {{data.message}}</h6>
                    </input>
                </div>
                <div ng-controller="ScopeThreeController">
                    <input type="text" ng-model="data.message">
                    <h6>Drugi {{data.message}}</h6>
                    </input>
                </div>
            </small>
        <pre>
            <code ng-non-bindable>
                <input type="text" ng-model="data.message">
                <h6>Root {{data.message}}</h6>
                </input>
                <div ng-controller="ScopeFirstController">
                    <input type="text" ng-model="data.message">
                    <h6>Pierwszy {{data.message}}</h6>
                    </input>
                </div>
                <div ng-controller="ScopeThreeController">
                    <input type="text" ng-model="data.message">
                    <h6>Drugi {{data.message}}</h6>
                    </input>
                </div>
            </code>
        </pre>
    </section>

    <section>
        <h4>two way data binding poprawny model</h4>
        <small>

            <input type="text" ng-model="message">
            <h6>Root {{message}}</h6>
            </input>
            <div ng-controller="ScopeFirstController">
                <input type="text" ng-model="message">
                <h6>Pierwszy {{message}}</h6>
                </input>
            </div>
            <div ng-controller="ScopeThreeController">
                <input type="text" ng-model="message">
                <h6>Drugi {{message}}</h6>
                </input>
            </div>
        </small>

        <pre>
            <code ng-non-bindable>
            .controller('ScopeFirstController',['$scope', function($scope){
            }])
            .controller('ScopeThreeController',['$scope', function($scope){
                $scope.data = {message:"juz jestem"};
            }]);
            </code>
        </pre>

    </section>

</section>

<section>
    <section>
        <h1>Serwisy</h1>
    </section>

    <section>
        <h2>Service</h2>
        <p>Otrzymujemy nowy obiekt z którego możemy korzystać bezpośrednio w kontrolerze i w innych serwisach poprzez DI</p>

        <div ng-controller="serviceControler">
            <p><i>Kontroler 1:</i> Artysta: <input type="text" ng-model="artist"/> <br/>
        </div>

        <div ng-controller="secondServiceControler">
            <i>Kontroler 2:</i> <button ng-click="checkArtist()">Sprawdź</button>
        </div>
        <pre>
        <code>
.service('artistService', function(){
    var artist = 'Manson'
    this.getArtist = function(){
        return artist;
    }
    this.setArtist = function(a){
        artist = a;
        console.log('New artist: ' + artist);
    }
});            
        </code>
        </pre>
    </section>

    <section>
        <h2>Factory</h2>
        <p>Funkcja tworzy i zwraca obiekt z którego możemy korzystać bezpośrednio w kontrolerach i w innych serwisach poprzez DI</p>
        <pre>
        <code>
.factory('artistService', function(){
    
    var artist = 'Manson'
    var service = {};

    service.getArtist = function(){
        return artist;
    }
    
    return service;
});            
        </code>
        </pre>
    </section>

    <section>
        <h2>Provider</h2>
        <p>Najbardziej rozbudowany sposób definiowania serwisów. Publicznie (w kontrolerach i innych serwisach) dostępna jest tylko część providera 
        zwracana przez metodę "$get". <br/>
        Provider jest też jedynym serwisem który przekazać do jako DI w konfiguracji aplikacji, czyli należy go użyć w sytuacji gdy chcemy skonfigurować serwis przed przekazaniem go do pozostałych modułów.
        </p>
    </section>
    <section>


    <h2>Provider</h2>
    <pre>
    <code>
.provider('artistService', function(){
    var artist = 'Manson'
    this.$get = function(){
        var that = this;
        return {
            getArtist: function(){
                return that._artist;
            }
        }
    }
});    

app.config(function(artistService){
  artistService.artist = ‘Marlin Manson’;
});

    </code>
    </pre>
    </section>

    <section>
        <h3>Wbudowane serwisy</h3>
        <ul>
            <li>$animate</li>
            <li>$rootScope</li>
            <li>$exceptionHandler</li>
            <li>$http</li>
            <li>$q</li>
            <li>$timeout</li>
            <li>$window, $document</li>
        </ul>
    </section>

</section>



<section>
	
	<section>
		<h1>Moduły i DI</h1>
	</section>

    <section>
        <h3>Moduły</h3>
        <h4>"Kontener" umożliwiający grupowanie funkcjonalności</h4>
        <ul>
            <li>określa w jaki sposób aplikacja ma być utworzona</li>
            <li>"reusability"</li>
            <li>decydujemy kiedy, który moduł wczytujemy</li>
            <li>testujemy tylko to co chcemy</li>
            <li>wymusza Low of Demeter</li>
        </ul>
    </section>

    <section>
        <h3>Moduły</h3>
        <h4>przykład</h4>
        <pre>
            <code ng-non-bindable>
     var service = angular.module('myApp.service',[]);
     service.factory('PersonService',['$http', function($http) {
        ...
     }]);

    var personCtrl = angular.module('myApp.controller',['myApp.service']);
    personCtrl.controller('PersonCtrl',
                ['PersonService',function(PersonService) {
                ...
                }]);

            </code>
        </pre>
    </section>

    <section>
        <h3>Moduły config/run</h3>
        <pre>
            <code ng-non-bindable>
        angular.module('myModule', []).
            config(function(injectables) {
                //kofiguracja stałych,
                //własne providery (np data)
                //routing, $http header, klucze, itp
            }).
            run(function(injectables) { // instance-injector
                //umieszczamy rzeczy, które chcemy by
                //działały w trakcie trwania aplikacji
                //np spradzamy czy jest jakaś nowa aktualizacja z serwera
        });
            </code>

        </pre>

    </section>

    <section>
        <h3>Dependecy Injection in AngularJS</h3>
        <img src="images/concepts-module-injector.png" alt=""/>
        <h4>$injector (service locator)</h4>
        <ul>
            <li>jeden per aplikację</li>
            <li>odpowiedzialny za wyszukiwanie zależności</li>
            <li>odpowiedzialny za tworzenie zależności</li>
            <li>instancje trzymane są w cache</li>
        </ul>

    </section>

    <section>
        <h3>Bezpośrednie wstrzykiwanie</h3>
        <pre>
            <code ng-non-bindable>
            function MyController($scope, greeter) {
            // ...
            }
            </code>
        </pre>
        <h4>
            Przestaj działać po minifikacji.
        </h4>
    </section>

    <section>
        <h3>Przez $injector</h3>
        <pre>
            <code ng-non-bindable>
            var MyController = function(renamed$scope, renamedGreeter) {
            ...
            }
            MyController['$inject'] = ['$scope', 'greeter'];
            </code>

        </pre>
    </section>

    <section>
        <h3>Rekomendowane</h3>
        <pre>
            <code ng-non-bindable>
            someModule.factory('greeter', ['$window', function(renamed$window) {
            // ...
            }]);
            </code>
        </pre>
    </section>

</section>

<section>
	
	<section>
		<h1>Routing</h1>
	</section>


    <section>
        <h3>Routing</h3>
        <ul>
            <li>angular-route</li>
            <li>przykład wyodrębnienia funkcjonalności do oddzielnego modułu</li>
            <li>/#/somepath</li>
            <li>ng-view</li>
        </ul>

    </section>

    <section>
        <h3>Routing ngView</h3>
        <pre>
            <code ng-non-bindable>
                &lthead&gt
                    ...
                    <script src="(..)/angular-route.js"></script>
                &lt/head&gt
                body
                ...
                <div ng-view></div>
                &lt/body&gt
            </code>
        </pre>

        <p>ng-view jest dyrektywą, której zadanie jest prezentowanie odpowiedniej strony (szablonu)</p>

    </section>

    <section>
        <h3>Routing konfiguracja</h3>
        <pre>
            <code ng-non-bindable>
            var app = angular.module('app',['ngRoute']);

            app.config(["$routeProvider",
            function($routeProvider){
                $routeProvider.when('/persons', {
                            templateUrl: 'partials/persons.html',
                            controller : 'PersonsCtrl'
                });
                $routeProvider.when('/persons/:personId', {
                            templateUrl: 'partials/person-details.html',
                            controller : 'PersonDetailsCtrl'
                });
                $routeProvider.otherwise({redirectTo:'/persons'});
            }]);
            </code>
        </pre>
    </section>

    <section>
        <h3>Routing kontroler</h3>
        <pre>
            <code ng-non-bindable>
     var personCtrl = angular.module('controller',[]);
         personCtrl.controller('PersonCtrl', function(){
            ...
        });
        personCtrl.controller('PersonDetailCtrl', ['$scope','$routeParams',
                function($scope,$routeParams){
                    $scope.personId = $routeParams.personId;
                    ...

                }]);
            </code>
        </pre>
    </section>

    <section>
        <h3>Routing konfiguracja - resolver</h3>
        <pre>
            <code ng-non-bindable>
                app.config(["$routeProvider",
                function($routeProvider){
                $routeProvider.when('/quote',{
                templateUrl: 'partials/quote.html',
                controller : 'QuoteCtrl',
                resolve : {
                quotes : function(QuoteServices) {
                return QuoteServices.quotes();
                }});
                //---controller
                var quoteCtrl = angular.module('controller', []);
                quoteCtrl.controller("QuoteCtrl",
                ['$scope', 'quotes', function ($scope, quotes) {
                $scope.quotes = quotes.data;
                }]);
            </code>
        </pre>
    </section>

</section>

<section>
    <section>
        <h1>Wbudowane serwisy - REST</h1>
    </section>

    <section>
        <h3>REST</h3>
        <ul>
            <li>$http</li>
            <li>$resources - jako oddzielny moduł ngResources</li>
        </ul>
    </section>

    <section>
        <h3>$http - GET</h3>
        <pre>
            <code ng-non-bindable>
                $http.get('/someUrl', [config]).
                    success(function(data, status, headers, config) {
                        //sukces
                }).
                    error(function(data, status, headers, config) {
                        //smuteczek
                });
            </code>
        </pre>
    </section>

    <section>
        <h3>$http - POST</h3>
        <pre>
            <code ng-non-bindable>
                $http.post('/someUrl', data, [config]).
                    success(function(data, status, headers, config) {
                         //sukces
                    }).
                    error(function(data, status, headers, config) {
                        //smuteczek
                });
            </code>
        </pre>
    </section>

    <section>
        <h3>$http zwraca 'promise' </h3>
        <pre>
            <code ng-non-bindable>
               var promise =  $http.get('/someUrl');

               promise.then(
                    function(value) {
                        //sukces
                    },
                    function(error) {
                        //smuteczek
                    });
                });
            </code>
        </pre>
    </section>

    <section>
        <h3>$http przykład </h3>
        <small>
        <div ng-controller="PhonesCtrl">
                <label for="id">Id</label>
                <input id="id" ng-model="phone.id">
                <label for="name">Nazwa</label>
                <input id="name" ng-model="phone.name">
                <button ng-click='add(phone)'> Dodaj</button>
             <table>
                  <tr>
                      <td>Identyfikator</td>
                      <td>Nazwa</td>
                  </tr>
                  <tr ng-repeat="phone in phones | limitTo: 4">
                      <td>{{phone.id}}</td>
                      <td>{{phone.name}}</td>
                  </tr>
              </table>
        </div>
        </small>
    </section>

    <section>
        <h3>$http przykład - kontroler </h3>
            <pre>
            <code ng-non-bindable>
        .controller('PhonesCtrl',['$scope','PhonesService',
          function($scope, PhonesService){
            PhonesService.getAll().then(function(result){
                $scope.phones = result.data;
            });
            $scope.add = function(phone){
                var phone = {id: phone.id, name:phone.name
                , snippet:'timmeee'};
                PhonesService.save(phone).then(function(result){
                    $scope.phones = result.data;
                });
                $scope.phone = {};}}])
            </code>
        </pre>
    </section>

    <section>
        <h3>$http przykład - serwis </h3>
            <pre>
            <code ng-non-bindable>
        .factory('PhonesService',['$http', function($http){
            var phonesService = {};
            phonesService.getAll = function(){
                var promise = $http.get('/pathUrl');
                return promise;
            }
            phonesService.save = function(phone) {
                var promise = $http.post('/pathUrl', phone);
                return promise;
            }
            return phonesService;}]);
            </code>
        </pre>
    </section>

    <section>
        <h3>$resources</h3>
        <ul>
            <li>wraper na $http</li>
            <li>operacje al'a CRUD</li>
            <li>możliwość tworzenia własnych akcji</li>
            <li>długi REST'owy url /message/:listController:id/:docController</li>
        </ul>
    </section>

    <section>
        <h3>$resources - konfiguracja</h3>
        <pre>
            <code>
   var app = angular.module('someModule',['ngResources']);
    app.factory('SomeService',['$resource', function($resource) {
      var message = $resource('/message/:listController:id/:docController',{
                id:"@id",
                listController:"@listController",
                docController: "@docController"
            }
    });
            </code>
        </pre>
    </section>

    <section>
        <h3>$resources - konfiguracja akcji</h3>
        <pre>
            <code>
    var message = $resource('/(...)/:listController:id/:docController',{
        //parametry już są
    },{
        clear : {
            method: "POST",
            params : {listController:"do-your-magic"}
        },
        archive: {
            method: "POST",
            params: { docController:"archive" }
        }}
    message.clear();
    message.query({id:1}) || message.query();
    message.archive({id:1})
    message.save(messageObject);
            </code>
        </pre>
    </section>
</section>

<section>

    <section>
        <h1>Filtry</h1>
    </section>
    
    <section>
        <h3>Filtry</h3>
        <p>Służą do przetworzenia dancyh prezentowanych użytkownikowi</p>

        <div ng-controller="ScopeController">
            <p>
                Tekst <input type="text" ng-model="msg"/>
                albo liczbę <input type="text"  ng-model="numbermsg" />
            </p>
            możemy zaprezentować "{{msg | uppercase}}" użytkownikowi <br/>
            lub sformatować {{numbermsg | number:2 | currency :'£'}}
        </div>
        <pre>
        <code ng-non-bindable>
    <input type="text" ng-model="msg"/>
    możemy zaprezentować "{{msg | uppercase}}" użytkownikowi

    <input type="text"  ng-model="numbermsg" />
    lub sformatować {{numbermsg | number:2 | currency :'£'}}
        </code>
        </pre>
    </section>

    <section>
        <h2>Filtr do filtrowania</h2>

        <div ng-controller="ScopeController">
            <p>Szukaj: <input type="text" ng-model="search"/> <br/>
            <ul>
                <li ng-repeat="el in elements | filter:search">
                    {{el}}
                </li>
            </ul>
            </p>
        </div>

        <pre>
        <code ng-non-bindable>
    <input type="text" ng-model="szukaj"/>
    <ul>
        <li ng-repeat="el in elements | filter:szukaj">
            {{el}}
        </li>
    </ul>
        </code>
        </pre>
    </section>

    <section>
        <h2>Własne filtry</h2>

        <div ng-controller="ScopeController">
            <p>Szukaj: <input type="text" ng-model="lensearch"/> <br/>
            
                <li ng-repeat="el in elements | len:lensearch">
                    {{el}}
                </li>
            
            </p>
        </div>             
        <pre>
        <code ng-non-bindable>
angular.module('ngApp').filter('len', function(/* miejsce na DI*/) {
    return function(input, minlength) {

    var input  = input || Array();

    return input.filter(function(el){
         return (el.length >= minlength);
    });
}})        
        </code>
        </pre> 
    </section>    

    <section>
        <h2>Wbudowane filtry</h2>
        <ul>    
            <li>date (+format)</li>
            <li>number</li>
            <li>json</li> 
            <li>lowercase / uppercase </li>
            <li>orderBy</li>
            <li>limitTo</li>
        </ul>
        <pre>
        <code ng-non-bindable>
<li ng-repeat="book in library | filter:search | orderBy:'title'  | limitTo: -5 "></li>
        </code>
        </pre>
    </section>
</section>

</section>

<section>

    <section>
    	<h1>Dyrektywy</h1>
    </section>
    
    <section>
    	<h3>Dyrektywy</h3>
    	<li>przetwarzaja znaczniki na wygląd i zachowanie</li>
    	<li>przetwarzane są przez serwis <i>$compile</i></li>
    	<li>możemy je aplikować na różnym poziomie - atrybutu, tagu, klasy</li>
    	<pre><code ng-non-bindable>
    		<div my-dir="expr"></div>
    		<div x-my-dir="expr"></div>
    		<div data-my:dir="expr"></div>
    		<my-dir></my-dir>
    		<div class="my-dir:expr;"></div>
    	</code></pre>
    	<p>"<i>x-</i>" i "<i>data-</i>" są wycinane z nazwy dyrektywy</p>
    	<p>":", "-", "_" są zamieniane na camelCase</p>
    	<p>"data-my:dir" zostanie z zamienione na dyrektywę "myDir"</p>
    </section>

    <section>
    	<h3>Wbudowane dyrektywy</h3>
    	<i>input</i> - nadpisuje domyślne zachowanie tagu "input" dodając bindowanie do modelu
    	<div ng-controller="serviceControler">
		    <form name="myForm">
		    	<input type="text" name="artistName" ng-model="artist" ng-minlength="3" required><br/>
		    	<small>
		    		<span class="error" ng-show="myForm.artistName.$error.required">Wymagane!</span>
		    		<span class="error" ng-show="myForm.artistName.$error.minlength">Minimum 3 znaki!</span>
		    	</small>
		    </form>
    	</div>
    <pre><code ng-non-bindable>
<input type="text" name="artistName" ng-model="artist" ng-minlength="3" required>
<span class="error" ng-show="myForm.artistName.$error.required">Wymagane!</span>
	</code></pre>
	</section>
	
    <section>
    	<h3>Wbudowane dyrektywy</h3>
    	<div ng-controller="ScopeThreeController">
    		<button ng-click="count = count + 1" ng-init="count=0" >Licznik kliknięć {{count}}</button>
    	</div>
    	<pre><code ng-non-bindable>
    		<button ng-click="count = count + 1" ng-init="count=0" >{{count}}</button>
    		
    		<div ng-controller="serviceControler">
    			...
    		</div>
    		
    		<ANY ng-if=""> ... </ANY>
    		
    		<ANY ng-switch="expression">
			  <ANY ng-switch-when="matchValue1">...</ANY>
			  <ANY ng-switch-when="matchValue2">...</ANY>
			  <ANY ng-switch-default>...</ANY>
			</ANY>
			
    	</code></pre>
	</section>	

    <section>
    	<h3>Własne dyrektywy</h3>
    	<div ng-controller="PhonesCtrl">
		  <div my-phone-name></div>
		</div>
    	<pre><code ng-non-bindable>
    	
angular.module('ngApp').directive('myPhoneName', function() {
	return {
   		template: 'Telefon: {{phone.name}} ({{phone.id}})'
 	};
});
    	
<div ng-controller="PhonesCtrl">
	<div my-phone-name></div>
</div>
    	</code></pre>
    	 
    	<pre> <code>
    	templateUrl: 'my-customer.html'
    	</code></pre>
	</section>
	
	<section>
    	<h3>Własne dyrektywy</h3>
    	<h4>restrict</h4>
    	<li><b>A</b> - atrybuty - <i>domyślne</i></li>
    	<li><b>E</b> - elementy</li>
    	<li><b>C</b> - klasy</li>

    	<div ng-controller="PhonesCtrl">
		  <my-phone-name ></my-phone-name>
		</div>
    	<pre><code ng-non-bindable>
    	
angular.module('ngApp').directive('myPhoneName', function() {
	return {
		restrict: 'E',
   		template: 'Telefon: {{phone.name}} ({{phone.id}})'
 	};
});
    	
<div ng-controller="PhonesCtrl">
	<my-phone-name ></my-phone-name>
</div>
    	</code></pre>    	
	</section>		
	
	<section>
    	<h3>Własne dyrektywy</h3>
    	<h4>izolacja scope-a</h4>
    	
    	<pre><code ng-non-bindable>
    	
angular.module('ngApp').directive('myPhone', function() {
	return {
		scope: {
        	phoneInfo: '=phone'
      	},
   		template: 'Telefon: {{phoneInfo.name}} ({{phoneInfo.id}})'
 	};
});

<div ng-repeat="p in phones">
	<my-phone phone="p"></my-phone>
</div>
    	</code></pre>

    	<div ng-controller="PhonesCtrl">
    		<div ng-repeat="p in phones">
		  		<my-phone phone="p"></my-phone>
    		</div>
		</div>
		</section>
    	<section>
    	
    	<h3>Własne dyrektywy</h3>
    	
<pre><code ng-non-bindable>

angular.module('ngApp').directive('myPhone', function() {
	return {
		scope: {
   		   		phoneInfo: '=phone'
      	},
   		transclude: true,
   		template: 'Telefon: {{phoneInfo.name}} ({{phoneInfo.id}})'
 	};
});
	
</code></pre>
    	<p>Opcja <b>transclude</b> powinna być używana w dyrektywach, które opakowują inne elementy</p>
<pre><code ng-non-bindable>
	<my-phone>My phone name is {{phone.name}}</my-phone>
</code>    	 
	</section>
	
	<section>
    	<h3>Własne dyrektywy</h3>
    	<h4>manipulacja domem</h4>
    	
    	<pre><code ng-non-bindable>

  .directive('myCurrentTime', ['$interval', 'dateFilter', function($interval, dateFilter) {
    function link(scope, element, attrs) {
      var format,
          timeoutId;

      function updateTime() {
        element.text(dateFilter(new Date(), format));
      }

      scope.$watch(attrs.myCurrentTime, function(value) {
        format = value;
        updateTime();
      });

      element.on('$destroy', function() {
        $interval.cancel(timeoutId);
      });

      // start the UI update process; save the timeoutId for canceling
      timeoutId = $interval(function() {
        updateTime(); // update DOM
      }, 1000);
    }

    return {
      link: link
    };
  }]);    	
    	</code></pre>
    	
    	<div ng-controller="timeController">
    		Current time is: <span my-current-time="format"></span>
    	</div>
    	
	</section>	
	
	<section>
    	<h3>Własne dyrektywy</h3>
    	<h4>zdarzenia</h4>
    	<pre><code ng-non-bindable>
.directive('myDialog', function() {
    return {
        transclude: true,
        scope: {
            'close': '&onClose'
        },
        template: '<div><a href ng-click="close()">×</a><div ng-transclude></div></div>'
    };
});

<my-dialog on-close="hideDialog()">Treść okienka</my-dialog>

		</code></pre>    	
	</section>

	<section>
    	<h3>Własne dyrektywy</h3>
    	<h4>zagnieżdżanie dyrektyw</h4>
    	<pre><code ng-non-bindable>
angular.module('docsTabsExample', [])
  .directive('myTabs', function() {
    return {
      controller: function($scope) {
        var panes = $scope.panes = [];

        this.addPane = function(pane) {
          if (panes.length === 0) {
            $scope.select(pane);
          }
          panes.push(pane);
        };
      },
    };
  })
  .directive('myPane', function() {
    return {
      require: '^myTabs',
      link: function(scope, element, attrs, tabsCtrl) {
        tabsCtrl.addPane(scope);
      },
      templateUrl: 'my-pane.html'
    };
  });    	
    	</code></pre>
	</section>
	
</section>

<section>
       <h3>Dziękujemy bardzo za uwagę!</h3>
        <img src="images/yoda.jpg" alt=""/>
</section>
</section>


</div>
</div>

<script src="lib/js/head.min.js"></script>
<script src="lib/js/angular.js"></script>
<script src="js/ngApp.js"></script>
<script src="js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        minScale: 0.2,
        maxScale: 3.0,

        dependencies: [
            { src: 'lib/js/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            } }
        ]
    });

</script>

</body>
</html>
