<!doctype html>
<html lang="en" ng-app="ngApp">

<head>
    <meta charset="utf-8">

    <title>Angular for java developers</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/serif.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">
</head>

<body>

<div class="reveal">

<div class="slides">

<section>
    <h2>Angularjs for java developers</h2>

    <p>Mateusz Sobczak</p>

    <p>Paweł Cierpiatka</p>
</section>


<section>
    <section>
    <h3>JavaScript jest wszędzie</h3>
    <ul>
        <li>jest w przeglądarce</li>
        <li>jest na serwerze</li>
        <li>działa jako język skryptowy</li>
        <li>nawet w JVM-ie można go wcisnąć</li>
        <li>jest bardziej funkcyjny niż java 8</li>
    </ul>
    </section>
    <section>
        <h2>na serwerze</h2>
        <ul>
            <li>Rhino - od mozilli</li>
            <li>Nashorn - od oracle</li>
            <li>node.js - v8 z chrome</li>

            <pre>
            <code ng-non-bindable>
            
    var http = require('http');

    var server = http.createServer(
      function (request, res) {
        res.writeHead(200, {"Content-Type": "text/plain"});
        res.end("Hello World\n");
    });

    server.listen(8000);
            </code>
            </pre>
        </ul>
    </section>
    <section>
        <h2>Funkcje, funkcje, funkcje</h2>
        <pre>
            <code>
function filter(items, f) {
    var j = 0;
    var result = [];
    for(var i in items){
        if (f(items[i]) == true){
            result[j++] = items[i];
        };
    }
    return result;  
}   
            </code>
        </pre>
    </section>
    <section>        
        <pre>
            <code>
    var timelog = [{
        "project" : 'idea',
        "time"  : 128
    }, {
        "project" : "efigence",
        "time"  : 283
    }, {
        "project" : "idea",
        "time"  : 338
    }];

    var efi = filter(timelog, function(item){
        return item.project === "efigence";
    });    
            </code>
        </pre>
    </section>
    <section>
        <p>Oczywiście podstawowe funkcje mamy już wbudowane</p>
            <button onclick="alert('Total time: ' + total + ' \n\n      ' + byPrj )">
                        test
            </button>

        <pre>
        <code>
var total = timelog.reduce(function(start, log){
    return start + log.time;
}, 0);


var byProject = timelog.reduce(function(sum, item){
    if (sum[item.project] == undefined) {
        sum[item.project] = 0;
    }
    sum[item.project]+=item.time;
    return sum;
}, {});

        </code>
        </pre>
<script type="text/javascript">
    
    var timelog = [{
        "project" : 'idea',
        "time"  : 128
    }, {
        "project" : "efigence",
        "time"  : 283
    }, {
        "project" : "idea",
        "time"  : 338
    }];

var total = timelog.reduce(function(start, log){
    return start + log.time;
}, 0);

var byProject = timelog.reduce(function(sum, item){
    if (sum[item.project] == undefined) {
        sum[item.project] = 0;
    }
    sum[item.project]+=item.time;
    return sum;
}, {});

var byPrj = 'W podziale na projekty\n';
for(var k in byProject){
    byPrj += k + ' = ' + byProject[k] + '\n';
}

</script>        
    </section>

    <section>
        <h2>i jeszcze na serwerze - npm</h2>
        <ul>    
            <li>taki trochę ant</li>
            <li>trochę w połączeniu z ivy</li>
            <li>w dodatku można nim zainstalować <a href="https://github.com/bower/bower">bowera</a>, który robi to samo, tylko trochę inaczej :) </li>
        </ul>
        <pre>
        <code>
{
  "version": "0.0.0",
  "private": true,
  "name": "timmee",
  "devDependencies": {
    "hapi": "^5.0.0"
   },
  "scripts": {
    "prestart": "npm install",
    "start": "node server.js"
  }   
}        
        </code>
        </pre>
    </section>

</section>


<section>
    <section>
        <h2>AngularJS</h2>
        <ul>
            <li>Produkt Google (Open source)</li>
            <li>Framework ???</li>
            <li>Silny podział na warstwy (MVW)</li>
            <li>Duży nacisk na testowalność</li>
        </ul>
        <p/>
        <blockquote>
            I hereby declare AngularJS to be MVW framework - Model-View-Whatever.
            Where Whatever stands for "whatever works for you".
        </blockquote>
        <p><i>Igor Minar</i></p>
    </section>

    <section>
        <h4>Długa i pokrętna ścieżka do oświecenia</h4>
        <img src="images/learning.png" alt=""/>
    </section>


</section>



<section>
    <section>
    <h3>Co robi Pawel</h3>
    <ul>
        <li>REST</li>
        <li>Routing</li>
    </ul>
    <pre>
        <code>
            Proste przyklady jak się da to w prezentacji
        </code>
    </pre>
    </section>


    <section>
        <h3>expression</h3>

        <p>3 + 3 = {{3 + 3}}</p>

        <p>JavaScript = {{'Java' + 'Script' }}</p>

        <p>true === false is {{true === false}}</p>

        <p>wybaczają  -{{a.b.c}}-</p>

        <pre>
            <code ng-non-bindable>
                3 + 3 = {{3 + 3}}
                JavaScript = {{'Java' + 'Script' }}
                true === false is {{true === false}}
                wybaczają  -{{a.b.c}}-
            </code>
        </pre>
    </section>

    <section>
        <h3>expression po co ?</h3>

        <p>łączy widok z modelem</p>

        <input ng-model="class.style"/>
        <div style="background-color:{{class.style}}">
            <button>Guziczek</button>
        </div>
        <pre>
            <code ng-non-bindable>
                <input ng-model="class.style"/>
                <div style="background-color:{{class.style}}">
                    <button>Guziczek</button>
                </div>
            </code>
        </pre>
    </section>

    <section>
        <h3>$scope</h3>
        <ul>
            <li>odnosi się do modelu aplikacji</li>
            <li>hierarchia jest podobna do hierarchi DOM</li>
            <li>udostępnia API $watch, $apply</li>
            <li>$watch pozwala obserwować zmiany modelu</li>
            <li>$apply pozwala informować o zmianach modelu</li>
        </ul>
    </section>

    <section>
        <h2>Troche teorii</h2>
        <small>
            <h3>Bez Angularjs</h3>
            <ul>
                <li>event loop przeglądarki czeka na zdarzenie</li>
                <li>pojawia się zdarzenie (wpisujemy tekst)</li>
                <li>event callback jest wywoływany i JS modyfikuję DOM</li>
                <li>gdy callback jest wykonany przeglądarka wyświetla widok na podstawie DOM</li>
            </ul>
        </small>
        <img src="images/concepts-runtime.png" alt=""/>
    </section>
    <section>
        <h2>Troche teorii</h2>
        <small>
            <h3>Angularjs</h3>
            <ul>
                <li>własny flow reagowania na zmiany, który dzieli się na zdarzenia w kontekście Angular i poza</li>
                <li>pojawia się zdarzenie (wpisujemy tekst)</li>
                <li>odpalany jest $digest loop, który składa się z dwóch mniejszych pętli</li>
                <li>$evalAsync (co wykonać) i $watch (co zmienić) </li>
                <li>gdy pętla $digest jest zakończona przeglądarka wyświetla widok na podstawie zmienionego DOM</li>
            </ul>
        </small>
        <img src="images/concepts-runtime.png" alt=""/>
    </section>

    <section>
        <div ng-controller="ScopeController">
            <h3>$scope data-binding</h3>
            <h4>two way data binding</h4>
            <div><small>{{element}}</small></div>
            <input type="text" ng-model="element"/>
            <button ng-click="add()">Dodaj</button>
            <div>
                <ul ng-repeat="element in elements">
                    <small>
                        <li>{{element}}</li>
                    </small>
                </ul>
            </div>
        </div>
        <pre>
            <code ng-non-bindable>
                <div ng-controller="ScopeController">
                    <h4>Dodaj element</h4>
                    <input type="text" ng-model="element"/>
                    <button ng-click="add()">Dodaj</button>
                    <div>
                        <ul ng-repeat="element in elements">
                            <small>
                                <li>{{element}}</li>
                            </small>
                        </ul>
                    </div>
                </div>
            </code>
        </pre>
    </section>


    <section>
        <h3>Two way data binding</h3>
        <h4>znowu teoria</h4>
        <table style="width: 100%">
            <tr>
                <td style="width: 50%">
                    <h4>Tradycyjne podejście (?)</h4>
                    <img src="images/One_Way_Data_Binding.png" alt=""/>
                </td>
                <td style="width: 50%">
                    <h4>AngularJS</h4>
                    <img src="images/Two_Way_Data_Binding.png" alt=""/>
                </td>
            </tr>
        </table>
    </section>

    <section>
        <div ng-controller="ScopeController">
            <h3>$scope data-binding</h3>
            <h4>two way data binding</h4>
            <div><small>{{element}}</small></div>
            <input type="text" ng-model="element"/>
            <button ng-click="add()">Dodaj</button>
            <div>
                <ul ng-repeat="element in elements">
                    <small>
                        <li>{{element}}</li>
                    </small>
                </ul>
            </div>
        </div>
        <pre>
            <code ng-non-bindable>
        angular.module('ngApp', [])
            .controller('ScopeController',['$scope',function($scope){
                $scope.elements = ['pierwszy','drugi','trzeci'];
                $scope.add = function(){
                $scope.elements.push($scope.element);
                $scope.element = "";
            };
        }]);
            </code>
        </pre>
    </section>

    <section>
        <h4>two way data binding pułapka</h4>
        <small>

            <input type="text" ng-model="message">
            <h6>Root {{message}}</h6>
            </input>
            <div ng-controller="ScopeFirstController">
                <input type="text" ng-model="message">
                <h6>Pierwszy {{message}}</h6>
                </input>
            </div>
            <div ng-controller="ScopeThreeController">
                <input type="text" ng-model="message">
                <h6>Drugi {{message}}</h6>
                </input>
            </div>
        </small>

        <pre>
            <code ng-non-bindable>
                <input type="text" ng-model="message">
                <h6>Root {{message}}</h6>
                </input>
                <div ng-controller="ScopeFirstController">
                    <input type="text" ng-model="message">
                    <h6>Pierwszy {{message}}</h6>
                    </input>
                </div>
                <div ng-controller="ScopeThreeController">
                    <input type="text" ng-model="message">
                    <h6>Drugi {{message}}</h6>
                    </input>
                </div>
            </code>
        </pre>

    </section>

    <section>
        <h4>two way data binding pułapka</h4>
        <small>

            <input type="text" ng-model="message">
            <h6>Root {{message}}</h6>
            </input>
            <div ng-controller="ScopeFirstController">
                <input type="text" ng-model="message">
                <h6>Pierwszy {{message}}</h6>
                </input>
            </div>
            <div ng-controller="ScopeThreeController">
                <input type="text" ng-model="message">
                <h6>Drugi {{message}}</h6>
                </input>
            </div>
        </small>

        <pre>
            <code ng-non-bindable>
            .controller('ScopeFirstController',['$scope', function($scope){
            }])
            .controller('ScopeThreeController',['$scope', function($scope){
            }]);
            </code>
        </pre>

    </section>

    <section>
        <h4>two way data binding poprawny model</h4>
            <small>
                <h6>two way data binding pułapka</h6>
                <input type="text" ng-model="data.message">
                     <h6>Root {{data.message}}</h6>
                </input>
                <div ng-controller="ScopeFirstController">
                    <input type="text" ng-model="data.message">
                    <h6>Pierwszy {{data.message}}</h6>
                    </input>
                </div>
                <div ng-controller="ScopeThreeController">
                    <input type="text" ng-model="data.message">
                    <h6>Drugi {{data.message}}</h6>
                    </input>
                </div>
            </small>
        <pre>
            <code ng-non-bindable>
                <input type="text" ng-model="data.message">
                <h6>Root {{data.message}}</h6>
                </input>
                <div ng-controller="ScopeFirstController">
                    <input type="text" ng-model="data.message">
                    <h6>Pierwszy {{data.message}}</h6>
                    </input>
                </div>
                <div ng-controller="ScopeThreeController">
                    <input type="text" ng-model="data.message">
                    <h6>Drugi {{data.message}}</h6>
                    </input>
                </div>
            </code>
        </pre>
    </section>

    <section>
        <h4>two way data binding poprawny model</h4>
        <small>

            <input type="text" ng-model="message">
            <h6>Root {{message}}</h6>
            </input>
            <div ng-controller="ScopeFirstController">
                <input type="text" ng-model="message">
                <h6>Pierwszy {{message}}</h6>
                </input>
            </div>
            <div ng-controller="ScopeThreeController">
                <input type="text" ng-model="message">
                <h6>Drugi {{message}}</h6>
                </input>
            </div>
        </small>

        <pre>
            <code ng-non-bindable>
            .controller('ScopeFirstController',['$scope', function($scope){
            }])
            .controller('ScopeThreeController',['$scope', function($scope){
                $scope.data = {message:"juz jestem"};
            }]);
            </code>
        </pre>

    </section>

    <section>
        <h3>Moduły</h3>
        <h4>"Kontener" umożliwiający grupowanie funkcjonalności</h4>
        <ul>
            <li>określa w jaki sposób aplikacja ma być utworzona</li>
            <li>"reusability"</li>
            <li>decydujemy kiedy, który moduł wczytujemy</li>
            <li>testujemy tylko to co chcemy</li>
            <li>wymusza Low of Demeter</li>
        </ul>
    </section>

    <section>
        <h3>Moduły</h3>
        <h4>przykład</h4>
        <pre>
            <code ng-non-bindable>
     var service = angular.module('myApp.service',[]);
     service.factory('PersonService',['$http', function($http) {
        ...
     }]);

    var personCtrl = angular.module('myApp.controller',['myApp.service']);
    personCtrl.controller('PersonCtrl',
                ['PersonService',function(PersonService) {
                ...
                }]);

            </code>
        </pre>
    </section>

    <section>
        <h3>Moduły config/run</h3>
        <pre>
            <code ng-non-bindable>
        angular.module('myModule', []).
            config(function(injectables) {
                //kofiguracja stałych,
                //własne providery (np data)
                //routing
            }).
            run(function(injectables) { // instance-injector
                //umieszczamy rzeczy, które chcemy by
                //działały w trakcie trwania aplikacji
                //np spradzamy czy jest jakaś nowa aktualizacja z serwera
        });
            </code>

        </pre>

    </section>

    <section>
        <h3>Dependecy Injection in AngularJS</h3>
        <img src="images/concepts-module-injector.png" alt=""/>
        <h4>$injector (service locator)</h4>
        <ul>
            <li>jeden per aplikację</li>
            <li>odpowiedzialny za wyszukiwanie zależności</li>
            <li>odpowiedzialny za tworzenie zależności</li>
            <li>instancje trzymane są w cache</li>
        </ul>

    </section>

    <section>
        <h3>Bezpośrednie wstrzykiwanie</h3>
        <pre>
            <code ng-non-bindable>
            function MyController($scope, greeter) {
            // ...
            }
            </code>
        </pre>
        <h4>
            Przestaj działać po minifikacji.
        </h4>
    </section>

    <section>
        <h3>Przez $injector</h3>
        <pre>
            <code ng-non-bindable>
            var MyController = function(renamed$scope, renamedGreeter) {
            ...
            }
            MyController['$inject'] = ['$scope', 'greeter'];
            </code>

        </pre>
    </section>

    <section>
        <h3>Rekomendowane</h3>
        <pre>
            <code ng-non-bindable>
            someModule.factory('greeter', ['$window', function(renamed$window) {
            // ...
            }]);
            </code>
        </pre>
    </section>

    <section>
        <h3>Routing</h3>
        <ul>
            <li>angular-route</li>
            <li>przykład wyodrębnienia funkcjonalności do oddzielnego modułu</li>
            <li>/#/somepath</li>
            <li>ng-view</li>
        </ul>

    </section>

    <section>
        <h3>Routing ngView</h3>
        <pre>
            <code ng-non-bindable>
                &lthead&gt
                    ...
                    <script src="(..)/angular-route.js"></script>
                &lt/head&gt
                body
                ...
                <div ng-view></div>
                &lt/body&gt
            </code>
        </pre>

        <p>ng-view jest dyrektywą, której zadanie jest prezentowanie odpowiedniej strony (szablonu)</p>

    </section>

    <section>
        <h3>Routing konfiguracja</h3>
        <pre>
            <code ng-non-bindable>
            var app = angular.module('app',['ngRoute']);

            app.config(["$routeProvider",
            function($routeProvider){
                $routeProvider.when('/persons', {
                            templateUrl: 'partials/persons.html',
                            controller : 'PersonsCtrl'
                });
                $routeProvider.when('/persons/:personId', {
                            templateUrl: 'partials/person-details.html',
                            controller : 'PersonDetailsCtrl'
                });
                $routeProvider.otherwise({redirectTo:'/persons'});
            }]);
            </code>
        </pre>
    </section>

    <section>
        <h3>Routing kontroler</h3>
        <pre>
            <code ng-non-bindable>
     var personCtrl = angular.module('controller',[]);
         personCtrl.controller('PersonCtrl', function(){
            ...
        });
        personCtrl.controller('PersonDetailCtrl', ['$scope','$routeParams',
                function($scope,$routeParams){
                    $scope.personId = $routeParams.personId;
                    ...

                }]);
            </code>
        </pre>
    </section>

    <section>
        <h3>Routing konfiguracja - resolver</h3>
        <pre>
            <code ng-non-bindable>
                app.config(["$routeProvider",
                function($routeProvider){
                $routeProvider.when('/quote',{
                templateUrl: 'partials/quote.html',
                controller : 'QuoteCtrl',
                resolve : {
                quotes : function(QuoteServices) {
                return QuoteServices.quotes();
                }});
                //---controller
                var quoteCtrl = angular.module('controller', []);
                quoteCtrl.controller("QuoteCtrl",
                ['$scope', 'quotes', function ($scope, quotes) {
                $scope.quotes = quotes.data;
                }]);
            </code>
        </pre>
    </section>

</section>


<section>
    <h3>Co robi Mateusz</h3>
    <ul>
        <li>Filtry</li>
        <li>Dyrektywy (AEC)</li>
        <li>Services</li>
    </ul>
    <pre>
        <code>
            Proste przyklady jak się da to w prezentacji
        </code>
    </pre>
</section>



</section>


</div>
</div>

<script src="lib/js/head.min.js"></script>
<script src="lib/js/angular.js"></script>
<script src="js/ngApp.js"></script>
<script src="js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        minScale: 0.2,
        maxScale: 3.0,

        dependencies: [
            { src: 'lib/js/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            } }
        ]
    });

</script>

</body>
</html>
