<div>
    <div>
        Search: <input ng-model="query">
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Tag</th>
            <th>Description</th>
            <th>Time spand in min</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="timeEvent in timeline | filter:query">
            <td>{{timeEvent.date}}</td>
            <td>{{timeEvent.tag}}</td>
            <td>{{timeEvent.description}}</td>
            <td>{{timeEvent.timeSpend}}</td>
        </tr>

       </tbody>
    </table>

</div>
